<main>



<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/homeBG.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
                <br />
                
                
            <img src="assets/img/marketplace.png" style="width: 300px;margin-left: -8px;">  
           <br />
        
            <div class="col-md-8 mr-auto ml-auto">
                   
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                               <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Mot clé">
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-pin-3"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Lieu: ville, code postale ou région">
                                </div>
                            </div>
                        </div>
                     <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill"><a href="/signin"  class="text-center" style="color:white; " >Rechercher</a></button>
                                <br/>
                                <br/>
                                <h5 class="text-center"> <a href="/signin"  class="text-center" style="color:white; " ><u>Recherche avancée</u></a></h5>
                            </div>
                        </div>
                    </form>
                </div>


      </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-11 mr-auto ml-auto">
                <h2 class="title">A propos de Marketplace</h2>
                <h5 class="description"> Une marketplace ou place de marché était à l’origine sur Internet un site qui rassemblait un ou plusieurs acheteurs et fournisseurs pour optimiser les procédures de sélection et d’achat à travers la mise en place de procédures d’e-procurement. L’utilisation du terme de marketplace s’est largement développée dans le domaine Internet et désigne désormais un concept relativement différent.</h5>
                <br>
             </div>
        </div>
        <br/><br/>
    </div>
</div>

<div class="section" id="carousel">
    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Profils d'entreprises</h2>
            <div class="row">
                <div class="col-md-12 page-carousel" >
                        <ngb-carousel>
                                <ng-template ngbSlide>
                    <div class="card card-profile card-plain">
                       <div class="row">
                            <div class="col-md-3">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="nc-icon nc-album-2"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Beautiful Gallery</h4>
                                        <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                                        <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="nc-icon nc-bulb-63"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">New Ideas</h4>
                                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                                        <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="nc-icon nc-chart-bar-32"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Statistics</h4>
                                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                        <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="nc-icon nc-sun-fog-29"></i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Delightful design</h4>
                                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                                        <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </ng-template>
          
                    <ng-template ngbSlide>
        <div class="card card-profile card-plain">
           
                <div class="row">
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-album-2"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Beautiful Gallery</h4>
                                    <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                                    <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-bulb-63"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">New Ideas</h4>
                                    <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                                    <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Statistics</h4>
                                    <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                    <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-sun-fog-29"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Delightful design</h4>
                                    <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                                    <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>    
           
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="card card-profile card-plain">
                <div class="row">
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-album-2"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Beautiful Gallery</h4>
                                    <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                                    <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-bulb-63"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">New Ideas</h4>
                                    <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                                    <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Statistics</h4>
                                    <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                    <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-sun-fog-29"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Delightful design</h4>
                                    <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                                    <a href="#pkp" class="btn btn-link btn-danger">Voir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </ng-template>
    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="section landing-section">
            <div class="section" id="carousel">
                        <div class="container">
                            <h2 class="title text-center">Parlons de nous</h2>
                            <div class="row">
                                <div class="col-md-8 page-carousel" style="margin-left:180px;">
                                        <ngb-carousel>
                                                
                    <ng-template ngbSlide>
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="../assets/img/faces/faten.jpg"   alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Faten Yahyaoui</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Le travail d'équipe est si important qu'il est pratiquement impossible pour vous d'atteindre la hauteur de vos capacités ou de faire l'argent que vous voulez sans devenir très bon.
                                </p>
                            </div>
                           
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="../assets/img/faces/mouna.jpg"   alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Mouna Maazoun</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Le travail d'équipe est si important qu'il est pratiquement impossible pour vous d'atteindre la hauteur de vos capacités ou de faire l'argent que vous voulez sans devenir très bon.
                                </p>
                            </div>
                           
                        </div>
                    </ng-template>
                    </ngb-carousel>
                                </div>
                            </div>
                        </div>
                    
                    </div>
    </div>
</div>
</main>