
<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/homeBG.png');">
    <div class="filter"></div>
    <h2 style="color:white;">{{description}}</h2>
 </div>
 <div class="section profile-content">
  <div class="container">
      <div class="owner">
          <div class="avatar">
              <img src="{{user.avatar}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          </div>
          <div class="name">
              <h4 class="title">{{user.nom_acheteur}} {{user.prenom_acheteur}}<br /></h4>
              <div class="row">
                      <div class="col-md-6 ml-auto mr-auto " >
                    
                          <button class="btn btn-outline-default btn-round" (click)="modifProfile()" style="margin-top: -202px; margin-left: 134px;"><i class="fa fa-cog"></i></button>
                      </div>
                  </div>
        </div>
      </div>
  </div>
     <div class="main">
        <button (click)="deconnexion()" class="btn btn-danger btn-lg btn-fill" style="    margin-left: 1090px;margin-top: -100px;"><i class="nc-icon nc-lock-circle-open"></i>&nbsp;&nbsp;déconnexion</button>
        
   <div style="margin-left:40%"> <h2 style="color:rgb(204, 37, 37);">Liste des Offres</h2></div><br><br>
   <div style="margin-left:23%" class="header">
    
      <label> Rechercher Par Ville : </label><input type="text" [(ngModel)]="term">
      </div>
      <br/>
    <div >
<div style="width: 800px;margin-left:300px; height: 350px; ">
        <div class="content" >
            <form>
                <div  class="row">
                    <div *ngFor = "let item of items |filter:term" class="col-md-4">
                        <div class="form-group">
                           <br/>
                            <img src="{{item.image}}" style="width: 56%;margin-left: 30px;margin-top:25px;">  
                            <h5 class="text-center" style="margin-left: -22px; margin-top: 5px;">{{item.categorie_p}}</h5>
                          <hr/>
                          <br/>
                          <h6  style="margin-top: 0px;margin-left:20px;">Publié :{{item.date_pub}}</h6>
                          <h6  style="margin-top: 0px;margin-left:20px;">Lieu Offre:{{item.lieu_offre}}</h6>
                          
                          <h4>    <a [routerLink]="['/Monpanier',item.categorie_p,item.lieu_offre,item.a_propos,item.telephone,item.prix,item.date_pub,item.nom_produit,item.id_offre,item.image]" routerLinkActive="active" style=" margin-left:40px;">Voir Plus</a></h4>
                        </div>
                    </div>
                  </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
            </form>
        </div>
</div>

</div>



</div>
</div> 