<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/homeBG.png');">
      <h2 style="color:white;">{{nom_produit}}</h2>
    </div> 
    <div class="main">
      <br/> <br/> <br/> <br/>
<div class="col-lg-8 col-md-7">
  <div class="card" style="width: 800px; margin-left: 100px; ">
          <div class="content" >
              <form>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group" style="margin-left:20px;">
                              <img src="{{image}}" style="width: 15%;margin-left: -8px;">  
                              
                              <h5 class=" title " style="margin-top: -67px;margin-left: 120px;"><b>  {{nom_produit}}
                                 <br/>telephone:{{telephone}},Publiée le:{{date}}</b></h5>
                           <br/>
                       </div>
                      </div>
                    </div>
                  <div class="clearfix"></div>
              </form>
          </div>
  </div>
  <div class="card" style="width: 800px; margin-left: 100px; ">
    <div class="content" >
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"style="margin-left:20px;">
                        <h5 class=" info-text" style="color:cornflowerblue;">À propos de cette offre</h5>
                      <br/>
                        <p>{{aPropos}}</p>
                    </div>
                    <div class="form-group"style="margin-left:20px;">
                        <h6 class=" info-text" style="color:cornflowerblue;">categorie :</h6>
                      <br/>
                    <p>
                        {{categorie_p}}
          </p>
                    <br/><br/><br/><br/>
                    <br/><br/><br/><br/>
                    <button  class="btn btn-danger btn-lg btn-fill" style="margin-left:350px;" (click)="CreateOffresauvgarder()" >mon panier</button>
                  
                  </div>
                </div>
              </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

</div>
<div class="col-lg-8 col-md-7">
 

    
<br/>
<br/>
<br/>
<div class="col-lg-8 col-md-7">
        <div class="card" style="width: 380px; margin-top: -644px; margin-left:900px; ">
                   <div class="content" >
                       <form>
                           <div class="row">
                               <div class="col-md-9">
                                   <div class="form-group" style="margin-left:20px;">
                                     <p style="color:cornflowerblue;"><b>Infos clés  </b></p>                                      
                                       <br/>
                                    <h6 class=" info-text" > <u>Lieu </u></h6>
                                    <p>{{lieuOffre}}</p>
                                    <br/>

                                   
                           
                                    <h6 class=" info-text" > <u>prix</u></h6>
                                    <p>{{prix}}</p>
                                    <br/>
                           
                           
                               
                                       
                                </div>
                               </div>
                             </div>
                           <div class="clearfix"></div>
                       </form>
                   </div>
           </div>
           <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
       
  </div>
</div>
</div> 

