

<div class="wrapper">
        <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/homeBG.png');">
          <h2 style="color:white;"></h2><br/><br/>
       </div> 
        <div class="main">
          <br/> <br/> <br/> <br/>
          <button [routerLink]="['/signin']" class="btn btn-danger btn-lg btn-fill" style=" margin-left: 1090px;margin-top: -100px;"> <i class="nc-icon nc-lock-circle-open"></i>&nbsp;&nbsp;Déconnexion</button>
          <button [routerLink]="['/liste-vendeur']" class="btn btn-info btn-lg btn-fill" style=" margin-left: 850px;margin-top: -139px;"> <i class="nc-icon nc-badge"></i>&nbsp;&nbsp;Liste vendeurs</button>
          
         <div class="col-md-10" style=" margin-left: 100px;">
                  
           
          <div class="card card-plain">
              <div class="header">
                  <h4 class="title">Liste des acheteurs</h4>
                  </div>
              <div class="content table-responsive table-full-width">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>Photo</th>
                              <th>Nom et Prénom</th>
                              <th>Adresse</th>
                              <th>Téléphone</th>
                              <th>Email</th>
                              <th>Action</th>
                          </tr>
                         
                      </thead>
                      <tbody>
                            <tr *ngFor="let acheteur of allAcheteurs" >
                                    <td><img src="{{acheteur.avatar}}" width="100px" height="100px"/></td><td>{{acheteur.nom_acheteur}}  {{acheteur.prenom_acheteur}}</td> <td>{{acheteur.adresse_acheteur}}</td> <td>{{acheteur.tel_acheteur}}</td> <td>{{acheteur.mail}}</td>
                                    <td><button type="button" (click)="deleteAcheteur(acheteur.acheteurId)" class="btn btn-danger btn-lg btn-fill"><i class="nc-icon nc-simple-remove"></i>&nbsp;&nbsp;Supprimer</button></td>
                                  </tr>                                  
                      </tbody>
                  </table>
              </div>
              <br/>
              <ng-template #processing>
                    <img *ngIf="requestProcessing" src="assets/img/loading.gif">
                 </ng-template>
              <div *ngIf="statusCode; else processing">   	      
                <div *ngIf="statusCode === 204" [ngClass] = "'success'">
                    acheteur supprimé avec succès.
                </div>   	   
                <div *ngIf="statusCode === 500" [ngClass] = "'error'">
                        Erreur Interne du Serveur.                        
                </div>   	
              </div>
          </div>
      </div>
      
      </div>
      </div> 