<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
        <div class="container">
                <div class="navbar-translate" *ngIf="!isAdmin()" >
              
                    <div class="collapse navbar-collapse "  id="navbarToggler" routerLinkActive="active"  >
                                    <a [routerLink]="['/signinvendeur']" >
                                        <a [routerLink]="['/signinvendeur']" class=" nav-link  btn btn-outline-neutral btn-round   ">Accès vendeurs</a>
                                     </a> 
                       </div>
                </div>
              <div class="collapse navbar-collapse" id="navbarToggler" routerLinkActive="active" style="margin-left:20px;">
                <ul class="navbar-nav ml-auto">
                  
                    <li class="nav-item" *ngIf="!isHome()">
                        
                        <div ngbDropdown class="d-inline-block dropdown" routerLinkActive="active" >
                                <a [routerLink]="['/#']" class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Chercher notre produits </a>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                                        <a [routerLink]="['/rechercheavancee']">
                                            <a [routerLink]="['/rechercheavancee']" class="  dropdown-item">Recherche avancée</a>
                                         </a>
                                         
                                         <a [routerLink]="['/rechercheparcategorie']">
                                            <a [routerLink]="['/rechercheparcategorie']" class=" dropdown-item">Chercher produits par Catégories</a>
                                         </a> 
                                         <a [routerLink]="['/rechercheparville']">
                                            <a [routerLink]="['/rechercheparville']" class="  dropdown-item">Chercher produits par Ville</a>
                                         </a> 
                                         <a [routerLink]="['/rechercheparentreprise']">
                                            <a [routerLink]="['/rechercheparentreprise']" class="  dropdown-item">Chercher produits par Entrepise</a>
                                         </a>  
                                      </div>
                            </div>
                    </li>
              


                    <li class="nav-item" *ngIf="!isHome()">
                        <div ngbDropdown class="d-inline-block dropdown">
                        <a [routerLink]="['/touteslesoffres']" class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Notre produits</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                                <a [routerLink]="['/touteslesoffres']" class=" dropdown-item">Produits</a>
                          
                        </div>
                    </div>
                 </li>

                    <li class="nav-item" *ngIf="!isHome()">
                            <div ngbDropdown class="d-inline-block dropdown">
                            <a [routerLink]="['/#']" class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="nc-icon nc-single-02"></i>Compte</a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                                    <a [routerLink]="['/signin']" class=" dropdown-item">Connexion</a>
                                    <a [routerLink]="['/signup']" class=" dropdown-item">Créer un compte</a>
                              
                            </div>
                        </div>
                     </li>
              
              
              </ul>
              </div>
              
              
              </div> 
    </nav>
    