<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/homeBG.png');">
        <div class="filter"></div>
    </div> 
    <div class="main">
        <div class="section landing-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">
                      <h2 class="text-center">Recherche Avancée</h2>
                      <form class="contact-form">
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Nom de produits</label>
                                  <div class="input-group">
                                      <input type="text" class="form-control" placeholder="(ex:commercial)">
                                 </div>
                                  <div class="input-group">
                                      <a [routerLink]="['/#']"> Ajouter Nom de produits</a>
                                </div>
                              </div>
                              <div class="col-md-6">
                                  <label>Entreprises</label>
                                  <div class="input-group">
                                      <input type="text" class="form-control" placeholder="(ex: ABC Computer)">
                                    </div>
                                    <div class="input-group">
                                      <a [routerLink]="['/#']">Ajouter une autre entreprise</a>
                                    </div>
                              </div>
  
                              <div class="col-md-6">
                                <label>Lieu </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="(ville ou région)">
                                  </div>   
                            </div>
  
                            <div class="col-md-6">
                              <label>Pays</label>
                              <div class="input-group">
                                <SELECT  size="1" data-rel="chosen" data-placeholder="pays" class="form-control">
                                  <OPTION>Tunis</OPTION>
                                  <OPTION>Bizert</OPTION>
                                  <OPTION>Ben Arous</OPTION>
                                  <OPTION>Ariana</OPTION>
                                  <OPTION>Manouba</OPTION>
                                  <OPTION>Jendouba</OPTION>
                                  <OPTION>Kef</OPTION>
                                  <OPTION>Beja</OPTION>
                                  <OPTION>Zaghouen</OPTION>
                                  <OPTION>Nabeul</OPTION>
                                  <OPTION>Kairouen</OPTION>
                                  <OPTION>Kasserine</OPTION>
                                  <OPTION>Tataouin</OPTION>
                                  <OPTION>guebelli</OPTION>
                                  <OPTION>Gabes</OPTION>
                                  <OPTION>Medenine</OPTION>
                                  <OPTION>Sfax</OPTION>
                                  <OPTION>Sousse</OPTION>
                                  <OPTION>Monastir</OPTION>
                                  <OPTION>Jarjis</OPTION>
                                  <OPTION>Siliana</OPTION>
                                  <OPTION>hamamat</OPTION>
                                  <OPTION>sidi bouzid</OPTION>
                                  <OPTION>jerba</OPTION>
                                </SELECT></div> 
                          </div>
  
                          <div class="col-md-6">
                            <label>Date de publication</label>
                            <div class="input-group">
                              <SELECT  size="1" data-rel="chosen" data-placeholder="date" class="form-control">
                                <OPTION>N'importe quelle date</OPTION>
                                <OPTION>Aujourd'hui</OPTION>
                                <OPTION>2 derniers jours</OPTION>
                                <OPTION>3 derniers jours</OPTION>
                                <OPTION>Les 7 derniers jours</OPTION>
                                <OPTION>Les 14 derniers jours</OPTION>
                                <option>30 derniers jours</option>
                              </SELECT></div> 
                        </div>
  
                        
                          </div>
  
                          <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Rechrecher des offres</button>
                            </div>
                        </div>
                          
                      </form>
                  </div>
              </div>
          </div>
      </div>
      
   </div>
      
  </div>
    